body {
    background-color: beige;
    font-family: monospace;
    font-size: x-large;
    font-weight: bolder;
    margin: 0;
}

.header {
    background-color: lightblue;
    color: black;
}

.slip {
    background-color: grey;
    color: white;
}

.pad {
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 0.1px;
    padding-bottom: 0.1px;
}

.main {
    float: left;
}

button {
    color: black;
    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;
    background-color: skyblue;
    border: none;
    border-radius: 8px;
    padding: 0.5%;
}

button:hover {
    box-shadow: 0 12px 10px 0 black;
    background-color: yellowgreen;
}

button:active {
    transform: translateY(3px);
    box-shadow: 0 9px 7px 0 black;
}

#down {
    background-color: forestgreen;
    color: white;
    box-shadow: black;
    padding: 5px;
}

#del {
    background-color: red;
    color: white;
    box-shadow: black;
    padding: 5px;
}

#del:hover {
    box-shadow: 0 12px 10px 0 black;
}

#down:hover {
    box-shadow: 0 12px 10px 0 black;
}

#btn {
    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;
    background-color: skyblue;
    border: none;
    border-radius: 8px;
    padding: 1%;
}

progress {
    height: 45px;
}